.center{
display: flex;
justify-content: center;
align-items: center;


}

body{
  background: linear-gradient(45deg, rgb(95, 66, 224) , rgb(45, 5, 119));
 height: 100vh;


}

h1,h2,h3,h4,h5,h6{

margin: 0;


}
.container{

color: white;
font-family: "Tajawal", sans-serif;

}
.line{

border: 2px solid white;


}
.cards{
margin-top: 50px;

justify-content: space-around;
}
.card-body{   


   height: 170px;
   background-color: azure;
   



}
.card-header{   


    height: 50px;
    background-color: rgb(111, 52, 221);
 
 
 
 
 }
.selector_div{

    display: block;
}
.card{
    width: 13%;
    border: 2px solid rgb(26, 11, 11);
    box-shadow: 0px 2px 5px rgba(0, 0, 0);
  



}
.selector_select{
margin-top: 50px;
font-size: 30px;
background: none;
border-radius: 16px;
color: azure;
background-color: rgb(29, 29, 241);



}